body {
    font-size: 17px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: -5px 5px 20px 5px;
}

.visually-hidden {
    display: none;
}

.visually-hidden-mobile {
    display: none;
}

.list-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f0d5f7;
}

.header-navmobile {
    display: none;
}

.header-avatar {
    margin: auto 15px;
}

.header-avatar-img {
    border-radius: 40%;
}

.header-about {
    margin: 15px;
}

.header-about-name, .header-about-position, .header-about-txt {
    margin: 0;
    margin-bottom: 15px;
}

.header-about-txt:nth-child(5) {
    margin-bottom: 0;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    margin: 15px;
    box-sizing: border-box;
}

.contacts-list li {
    display: flex;
    align-items: center;
    padding-left: 10px;
    line-height: 40px;
}

.contacts-list svg {
    margin-right: 10px;
    fill: #942dad;
}

.contacts-list a {
    text-decoration: none;
    color: #000;
}

.contacts-list a:hover {
    color: #942dad;
}

.skills-block {
    display: flex;
    padding-left: 10px;
}

.skills-text {
    width: 120px;
    margin-right: 15px;
}

.skills-list {
    display: flex;
    align-items: center;
    width: 100px;
}

.skills-list-item {
    width: 10px;
    height: 10px;
    background-color: #942dad;
    border-radius: 50%;
    margin-right: 5%;
}

.skills-list-item.grey {
    background-color: #D3D3D3;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column: span 2;
}

.projects-title {
    width: 100%;
    height: 25px;
    margin: 0;  
    padding-left: 10px;
    background-color: #942dad;
    color: #fff;
}

.project-example {
    width: 50%;
}

.project-example-item {
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0;
    padding: 5px;
}

.project-example-img {
    display: block;
    width: 100%;
}

.project-txt {
    min-width: 150px;
    background-color: rgba(211, 211, 211, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5%;
}

.project-txt-languages {
    margin: 10px;
    font-weight: bold;
    color: #942dad; 
}

.project-txt-description {
    margin: 10px;
}

.project-txt-link {
    width: 100px;
    min-height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    border-radius: 3px;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #942dad;
    color: #fff;
}

.project-txt-link span {
    margin: auto;
}

.project-txt-link:hover {
    background-color: #511c5e;
}

.projects-code {
    display: flex;
    width: 50%;
    justify-content: center;
    vertical-align: center;
}

.projects-code-example {
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #DCDCDC;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

.languages-title {
    width: 100%;
    height: 25px;
    margin: 0;  
    padding-left: 10px;
    background-color: #942dad;
    color: #fff;
}
 .languages-list {
    width: 100%;
    margin: 15px 0;
    padding-left: 10px;
    list-style-type: none;
 }

 .languages-list span {
     font-weight: bold;
 }

.education {
    display: flex;
    flex-wrap: wrap;
}

.education-title {
    width: 100%;
    height: 25px;
    margin: 0;
    margin-bottom: auto;  
    padding-left: 10px;
    background-color: #942dad;
    color: #fff;
}

.education table {
    margin: 15px;
    margin-bottom: auto;
    width: 100%;
    min-height: 100px;
    border-collapse: collapse;
}

.education-firstcol {
    background-color: rgba(211, 211, 211, 0.5);
}

.education-secondcol span {
    font-weight: bold;
}

.experience {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
}

.experience-title {
    height: 25px;
    width: 100%;
    margin: 0;
    margin-bottom: auto;  
    padding-left: 10px;
    background-color: #942dad;
    color: #fff;
}

.experience table {
    margin: 15px;
    min-height: 100px;
    border-collapse: collapse;
}

.experience-firstcol {
    background-color: rgba(211, 211, 211, 0.5);
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0d5f7;
    margin-top: auto;
}

.footer a {
    color:#3b3b3b;
    border-bottom: 1px solid #3b3b3b;
}

.footer-item {
    width: 33.3%;
    padding: 15px;
    text-align: center;
}

.footer-item a {
    text-decoration: none;
}

.footer-logo {
    width: 100px;
}

@media (max-width: 576px) {

    .header-avatar {
        display: none;
    }
    
    .main-content {
        display: block;
    }

    .visually-hidden {
        display: block;
        width: 100%;
        height: 25px;
        margin: 0;
        padding-left: 10px;
        background-color: #942dad;
        color: #fff;
    }

    .header-navmobile {
        display: block;
    }

    .header-navmobile-input {
        display: none;
    }

     .header-navmobile-label {
        margin: 15px 15px 15px 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

    .header-navmobile-icon {
        display: block;
        position: relative;
        background: #000;
        width: 90%;
        height: 4px;
        transition: 0.4s;
    }

    .header-navmobile-icon::after,
    .header-navmobile-icon::before {
      content: "";
      display: block;
      position: absolute;
      background: #000;
      width: 100%;
      height: 4px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .header-navmobile-icon::after {
      top: 8px;
    }
    .header-navmobile-icon::before {
      top: -8px;
    }

    .project-example, .projects-code {
        width: 100%;
    }

    .header-navmobile-list {
        visibility: hidden;
        margin: 0 auto;
        height: 0;
        width: 0;
        flex-direction: column;
        padding: 0;
        box-sizing: border-box;
        align-items: flex-start;
        list-style-type: none;
      }

      .header-navmobile-list-item {
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
        min-height: 20px;
        width: 90%;
        background-color: rgba(148, 45, 173, 0.6);
        border-radius: 5px;
      }

      .header-navmobile-list a {
          text-decoration: none;
          color: #000;
      }

      .header-navmobile-input:checked ~ .header-navmobile-list {
        visibility: visible;
        height: auto;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }

    .education table {
        margin-bottom: 15px;
    }

}


